.bg{
height: full;
  width: 700px;
    
    background: url('https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7888.jpg?w=740&t=st=1683140942~exp=1683141542~hmac=9d0cd7f59a66792c6d085cb7ef9ead75a737f9335589238a553445d91aea78e4');
}